{% extends 'base.html' %}
{% block nav %}
{% endblock %}
{% block content %}
	<div class = "container">
		{% if error %}
			{{error}}
		{% endif %}
		<h1>{{book.title}}</h1>
		<br>
			<strong>Average Rating of the Book on GoodReads: </strong>{{response.0['average_rating']}} <br>
			<strong>Number of Rating the work received: </strong> {{response.0['work_ratings_count']}}
		<div class = "">
			<form class = "comment_form" role="form" method="POST" action="">
			{{comment_form.csrf_token}}
			{{comment_form.body(placeholder="")}}
			{{comment_form.rate}}
			{% if comment_form.body.errors %}
		        <span class="error">
		          {% for error in comment_form.body.errors %}
		            {{ error }}
		          {% endfor %}
		        </span>
		      {% endif %}
        <button class="btn btn-sm btn-success" type="submit">Submit your review</button>
		</form>
		</div>
		<div>
			{% for comments in book_comments %}
				{{comments.body}} <br>
				by
				{{comments.author.username}}
			{% endfor %}
		</div>
	</div>
{% endblock %}