{% extends "base.html" %}
{% block nav %}

{% endblock %}
{% block content %}
	<div class = "container">
		<h1>Welcome.</h1>
		<br>
		<form class = "search_form" role="form" method="POST" action="">
			{{form.csrf_token}}
			{{form.query(placeholder="Enter title/isbn/author/year")}}
			{% if form.query.errors %}
		        <span class="error">
		          {% for error in form.query.errors %}
		            {{ error }}
		          {% endfor %}
		        </span>
		      {% endif %}
        <button class="btn btn-sm btn-success" type="submit">Search</button>
		</form>
		<br>
		{% if results %}
			<table class="table">
				<tr>
					<th>ISBN</th>
					<th>Title</th>
					<th>Author</th>
					<th>Year</th>
				</tr>
				{% for result in results %}
					<tr>
						<td><a href="{{url_for('book_detail', isbn=result.isbn)}}">{{result.isbn}}</a></td>
						<td>{{result.title}}</td>
						<td>{{result.author}}</td>
						<td>{{result.year}}</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<span class="warning">
				Nothing Found
			</span>
		{% endif %}
	</div>
{% endblock %}