{% extends "base.html" %}

{% block content %}
<div class = "container">
  <h1>Welcome to Books site.</h1>
  <h3>Please sign in to access your task list.</h3>

  <form class="form-signin" role="form" method="post" action="/">
    {{ form.csrf_token }}
    <div class="input-group form-group">
      {{ form.username(placeholder="username") }}
      {% if form.username.errors %}
        <span class="error">
          {% for error in form.username.errors %}
            {{ error }}
          {% endfor %}
        </span>
      {% endif %}
    </div>
    <div class="input-group form-group">
      {{ form.password(placeholder="password") }}
      {% if form.password.errors %}
        <span class="error">
          {% for error in form.password.errors %}
            {{ error }}
          {% endfor %}
        </span>
      {% endif %}
    </div>
    <button class="btn btn-sm btn-success" type="submit">Sign in</button>
    <br>
    <br>
    <p><em>Need an account?</em><a href="{{url_for('signup')}}">Signup!!</a></p>
  </form>
</div>

{% endblock %}